*{
    margin: 0;
}

body{
    
}

.first-header{

    background-image: url(image/photo10.jpg);
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
    opacity: 0.9;
}

.header-section{

    padding-top: 150px;
    color: white;
    font-size: 48px;
    padding-left: 170px;
}

span{
    color: green;
}

.pera1{
 
    padding-top: 30px;
    color: white;
    font-size: 20px;
    padding-left: 170px;
    color: white;
    font-family: 'Fasthand', cursive;
}

.first-btn{

    margin-left: 170px;
    margin-top: 30px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: tomato;
    border-color: tomato;
    color: white;
    font-size: 25px;
}

.text-section{

    display: flex;
    margin-top: 150px;
}

.first-photo{

    height: 320px;
    width: 350px;
    margin-left: 300px;
    display: block;
    border-radius: 5px;
    
}


.pera2{
 
    padding-top: 30px;
    color: lightslategray;
    font-size: 20px;
    padding-left: 170px;
    font-family: 'Fasthand', cursive;

}


.header-section1{

    padding-top: 20px;
    
    color: black;
    font-size: 45px;
    padding-left: 170px;
}


.second-photo{

    height: 300px;
    width: 350px;
    margin-left: 165px;
    display: block;
    border-radius: 5px;
    margin-top: 75px;
    
}

.text-section2{

    display: flex;
}


.third-photo{

    height: 320px;
    width: 350px;
    margin-left: 170px;
    display: block;
    border-radius: 2px;
    
}

.setup-text22{

    padding-left: 40px;
}

.shadow-sec{

    display: flex;
    padding: 40px 55px;
}

.center33{
    text-align: center;
    margin-top: 40px;
    font-size: 35px;
    color: black;
}


.center{
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
    color: lightslategray;
}

.position1{

    padding-left: 25px;
    font-size: 22px;
}

.mar-1{

    color: lightslategrey;
    padding-top: 18px;
    font-size: 20px;
   
}

.shadow-sec{

    background-color: wheat;
    height: 150px;
    padding: 30px 20px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    opacity: 0.5;
}

.imran{

    display: flex;
    margin: 30px 65px ;

    
}

.three-img{

    display: flex;
    height: 230px;
    
    margin-top: 100px;
    border-radius: 5px;
    padding-right: 10px;
    margin-left: 160px;
    opacity: 0.9;
   
}

.jamela{

    padding: 1px 10px;
    border-radius: 5px;
    margin-left: 30px;
 
   
}

.big-text{

    text-align: center;
    margin-top: 60px;
}

.text-center{

    margin-top: 10px;
    font-size: 20px;
    color: lightslategrey;
}

.info{

    display: flex;
   
   
}

.fit-img{

    height: 180px;
    width: 300px;
    margin-top: 30px;  
    padding: 10px 2px;
    
                        
}



.fit1{

    columns: lightslategrey;
    font-size: 20px;
    margin-top: 10px;
    color: lightslategray;

}

.tension{

    margin-left: 100px;
    box-shadow: 10px 30px 40px lightslategray;
    margin-top: 45px;
    padding: 10px 27px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
    }

.new11{

    margin-top: 20px;
    color: tomato;
    border-bottom: 1px;
    border: none;
}

.end22{

    text-align: center;
    margin-top: 80px;
    background-color: rgb(1, 1, 22);
    padding: 25px;
    color: tomato;
    font-family: 'Lobster Two', cursive;
    
}

.white{

    color: lightslategray;
    font-size: 20px;
    margin-top: 10px;
}